@import '../../assets/css/custom.scss';

:global {
  .homeContent {
    min-height: 100%;
    padding: 20px 50px;
    //padding-top: 0;
    background-color: #F0F1F3;
    .title {
      display: flex;
      justify-content: space-between;
      color: #344658;
      .left {
        font-family: PingFangSC-Regular;
        font-size: 26px;
      }
      .right {
        font-family: PingFangSC-Medium;
        font-size: 14px;
      }
    }
  }
  .echarts-line {
    margin: 20px 0;
    background: #fff;
    position: relative;
    .loading{
      @extend %verticalCenter;
    }
  }
  .tableContent {
    margin-top: 20px;
    background: #fff;
  }
}
