@import '../../assets/css/custom.scss';

:global {
  .homeContent {
    min-height: 100%;
    padding: 0 50px;
    background-color: #F0F1F3;
    .title {
      display: flex;
      justify-content: space-between;
      color: #344658;
       margin: 20px 0;
      .left {
        font-family: PingFangSC-Regular;
        font-size: 26px;
      }
      .right {
        font-family: PingFangSC-Medium;
        font-size: 14px;
      }
    }
  }
  .echarts-line {
    margin: 20px 0;
  }
  .tableContent {
   margin-bottom: 20px;
  }
}
